# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/srcOLD

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# compiled output
/LegalAnalyticsWorkbench/.idea
/LegalAnalyticsWorkbench/.settings
/LegalAnalyticsWorkbench/bin
/LegalAnalyticsWorkbench/build
/LegalAnalyticsWorkbench/dist
/LegalAnalyticsWorkbench/bin/**
/LegalAnalyticsWorkbench/build/**
/LegalAnalyticsWorkbench/dist/**
.metadata/
.recommenders/
/LegalAnalyticsWorkbench/RemoteSystemsTempFiles/
/LegalAnalyticsWorkbench/Servers/.project
/LegalAnalyticsWorkbench/Servers/
/LegalAnalyticsWorkbench/WebContent/App/
RemoteSystemsTempFiles/
Servers/

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
