.gradeToolHeader {
    width: 100%;
    padding: 2px;
    border-radius: 4px;
    background-color: #404a6e;
    color: #fff;
}

.gradeToolTitle {
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gradeToolUser {
    margin-top: 2px;
    padding: 2px;
}

.docketsLink {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
}
.tool-title {
    width: 100%;
    text-align: center;
}
.grade-tool-body {
    margin: 10px !important;
}
.login-header {
    line-height: 12px;
    float: right;
    color: dimgray;
}
.login-button {
    cursor: pointer;
}
.release-build {
    font-size: .8em;
    color: #c9c9c9;
    width: 100%;
    margin-top: -10px;
    padding: 2px;
}

.brand-image {
    height: 30px;
    width: 150px;
    background-color: #ff8800;
}

.navigation-button {
    margin-left: 10px;
}

.docket-detail-user-action {
    cursor: default;
    margin-right: 10px;
}
