<gio-exception-handler></gio-exception-handler>

<div class="clearfix gradeToolHeader">
    <div class="pull-left">
        <h1 class="gradeToolTitle">{{title}}</h1>
        <div *ngIf="manifestProperties && (manifestProperties.releaseLabel !== null || manifestProperties.releaseDate !== null)" class="release-build">
            {{manifestProperties.releaseLabel}} ({{manifestProperties.releaseDate}})
        </div>
    </div>
    <div class="pull-right gradeToolUser">
        <gio-user-info></gio-user-info>
    </div>
</div>

<gio-menu-bar></gio-menu-bar>
<gio-sign-on *ngIf="authenticationProvider != null && !authenticationProvider.useSafe && authenticationToken === null"></gio-sign-on>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<router-outlet></router-outlet>
