<div *ngIf="isDisplayDocuments">
    <div class="document-print-heading center-block clearfix">
        <div class="pull-left">
            <span>Print Center Options</span>
        </div>
        <div class="paging-container">
            <div class="per-page-container">
                <span class="items-per-page-label">entries per page: </span>
                <input type="number" min="1" max="{{MAX_ENTRIES_PER_PAGE}}" #perPage class="items-per-page" [(ngModel)]="itemsPerPage"/>
            </div>
        </div>
    </div>

    <div>
        <div class="documents-option-container clearfix">
            <span>In order for the Print Center to best serve you, please fill in the information below</span>
        </div>
        <div class="documents-option-container clearfix">
            <label class="form-field-label" for="deliveryToOption">Deliver To:</label><br/>
            <mat-radio-group [(ngModel)]="deliveryToOption"
                             id="deliveryToOption" name="deliveryToOption" required="true">
                <mat-radio-button [value]="deliverToMeetingOwner"
                                  [disabled]="isPrintingInProgress"
                                  class="input-filter-position-override filter-container-margins"
                                  color="primary">{{deliverToMeetingOwnerText}}
                </mat-radio-button><br/>
                <mat-radio-button [value]="deliverToMeetingRoom"
                                  [disabled]="isPrintingInProgress"
                                  class="input-filter-position-override filter-container-margins"
                                  color="primary">{{deliverToMeetingRoomText}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="documents-option-container clearfix">
            <textarea name="userComments" class="proceeding-editor-user-comments" autofocus rows="3"
                      [placeholder]="userCommentsNotes"
                      [disabled]="isPrintingInProgress" [(ngModel)]="userComments"></textarea>
            <br/>
        </div>
    </div>

    <div class="metadata-entry-table center-block">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th class="document-print-file">File</th>
                <th class="document-print-isPrint">Print</th>
                <th class="document-print-isColor">Color</th>
                <th class="document-print-notes">Notes</th>
            </tr>
            <tr *ngFor="let documentToPrint of documentsToPrint | paginate: paginationSettings; let i = index">

                <td class="document-print-file" id="document_print_file_{{1+i}}">{{documentToPrint.filename}}</td>

                <td class="document-print-isPrint">
                    <mat-checkbox [id]="'documents_row_' + i + '_isDocumentSelected'"
                                  name="isDocumentSelected"
                                  title="Select/Un-Select Document"
                                  color="primary"
                                  class="document-select-unselect-checkbox"
                                  (click)="documentSelectUnSelect()"
                                  [disabled]="isPrintingInProgress || isDocumentDisabledForPrinting(documentToPrint.filename)"
                                  [(ngModel)]="documentToPrint.print">
                    </mat-checkbox>
                </td>

                <td class="document-print-isColor">
                    <mat-checkbox [id]="'documents_row_' + i + '_isColoredDocument'"
                                  name="isColoredDocument"
                                  title="Print Document In Color"
                                  color="primary"
                                  class="document-select-unselect-checkbox"
                                  [disabled]="isPrintingInProgress || isDocumentDisabledForPrinting(documentToPrint.filename)"
                                  [(ngModel)]="documentToPrint.color">
                    </mat-checkbox>
                </td>

                <td class="document-print-notes">
                    <input [id]="'documents_row_' + i + '_comments'" name="userComments" matInput class="documents-input-comments"
                           [disabled]="isPrintingInProgress || isDocumentDisabledForPrinting(documentToPrint.filename)"
                           [(ngModel)]="documentToPrint.notes">
                </td>

            </tr>
        </table>
    </div>
    <div class="clearfix">
        <div class="pull-right paging-control" *ngIf="displayPaginationControl">
            <pagination-controls [id]="paginationSettings.id"
                                 [maxSize]="15"
                                 [directionLinks]="true"
                                 [autoHide]="false"
                                 (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 documents-button-container clearfix"><br/>
            <div class="pull-left">
                <span>*File is not compatible with Print Center</span>
            </div>
            <div class="pull-right">
                <button id="submitPrinting" type="button" class="btn btn-sm btn-primary"
                        mat-raised-button (click)="submitPrinting()" [disabled]="isPrintingInProgress || ! hasDocumentSelected">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span> Submit
                </button>
                <button id="cancelPrinting" type="button" class="btn btn-sm btn-default"
                        mat-raised-button (click)="cancelPrinting()">
                    <span class="glyphicon glyphicon-repeat"></span> Cancel
                </button>
            </div>
        </div>

    </div>
</div>
